In [34]:
from splinter import Browser
from bs4 import BeautifulSoup
import re
import time
import pandas as pd

In [ ]:
#################
#scraping
#################

In [10]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path)

In [11]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [12]:
#convert browser to soup
html = browser.html
news_bs = BeautifulSoup(html,'html.parser').select_one('ul.item_list li.slide')
title = news_bs.find("div", class_='content_title').get_text()
title

"NASA's Curiosity Keeps Rolling As Team Operates Rover From Home"

In [13]:
parent = news_bs.find("div", class_='article_teaser_body').get_text()
parent

'The team has learned to meet new challenges as they work remotely on the Mars mission.'

In [14]:
#################
#JPL
#################

In [15]:
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)

In [17]:
click_featured_image = browser.find_by_id('full_image').click()

In [18]:
# browser.is_element_present_by_text('more info')
click_more_info = browser.find_link_by_partial_text('more info').click()

C:\Users\nvhab\Anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:504: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [28]:
html = browser.html
img_url = BeautifulSoup(html, 'html.parser').select_one('figure.lede a img').get("src")
img_url

'/spaceimages/images/largesize/PIA11777_hires.jpg'

In [29]:
featured_image_url = f'https://www.jpl.nasa.gov{img_url}'
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA11777_hires.jpg'

In [31]:
#################
#Mars Weather - Twitter
#################
#TWITTER DOESN'T ALLOW WEBSCRAPING

In [32]:
#################
#Mars Facts
#################

In [33]:
mars_facts_url = 'https://space-facts.com/mars/'
browser.visit(mars_facts_url)

In [35]:
df = pd.read_html(mars_facts_url)[0]
df.columns = ['Feature', 'Value']
df.set_index('Feature', True)
df.head()

                Feature                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [36]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Feature</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [37]:
#################
#Mars Hemispheres
#################

In [38]:
mars_hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(mars_hemis_url)

In [ ]:
hemis_urls = []

##img urls are all in h3 - need CSS....
all_urls = browser.find_by_css("a.product-item h3")

for i in range(len(hemis_urls)):
    hemis = {}
    
    all_urls[i].click()
    
    hemi_href[img_url] = browser.find_link_by_text('Sample').first['href']
    
     nnbfthr